.mein-hwamyeon-todo {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 100%;
}

.navbar_m {
  align-items: flex-end;
  background-color: var(--jacarta);
  display: flex;
  height: 127px;
  width: 100%;
  min-width: 720px;
}

.todo {
  align-items: flex-start;
  display: flex;
  min-width: 178px;
}

.overlap-group {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 176px;
  padding: 5px 66px;
}

.todo-1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 41px;
}

.navbar-item {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  min-width: 178px;
}

.overlap-group1 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 176px;
  padding: 7px 55px;
}

.routine {
  letter-spacing: 0;
  min-height: 22px;
}

.overlap-group2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 176px;
  padding: 5px 63px;
}

.event {
  letter-spacing: 0;
  min-height: 22px;
}

.overlap-group3 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 176px;
  padding: 5px 49px;
}

.checklist {
  letter-spacing: 0;
  min-height: 22px;
}

.text-1 {
  height: 80px;
  width: 90%;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
.todotext {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 69px;
  margin-top: 66px;
  min-height: 58px;
  width: 521px;
}

.flex-row {
  align-items: center;
  display: flex;
  min-width: 168px;
}

.rectangle-10 {
  background-color: var(--white);
  border: 1px solid #000000;
  border-radius: 1px;
  height: 38px;
  width: 38px;
}

.text {
  height: 22px;
  letter-spacing: 0;
  margin-left: 53px;
  text-align: center;
  width: 77px;
}

.line-5 {
  height: 4px;
  margin-left: -1.0px;
  margin-top: 17px;
  width: 521px;
}

.addbutton {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 43px;
  margin-top: 640px;
  min-width: 98px;
}

.overlap-group4 {
  align-items: center;
  background-color: var(--jacarta);
  border-radius: 48px;
  display: flex;
  height: 96px;
  justify-content: flex-end;
  min-width: 96px;
  padding: 0 29px;
}

.text-2 {
  height: 78px;
  letter-spacing: 0;
  min-width: 36px;
  text-align: center;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Lato:400");
@font-face {
  font-family: "League Gothic-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/LeagueGothic-Regular") format("opentype");
}
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
